/*
 * Version: 2.1
 * Author: Edward
 * E-mail: 780589391@qq.com
 */
body{
    margin: 0px;
}
.ToolBar{
    height: 30px;
    overflow: hidden;
    background-image: url(../img/Public/TBlue_MDarkBlue-BWhite-Y.png);
    background-position: bottom;
    background-repeat: repeat-x;
    z-index: 31;
}
.ToolBar ul{
    background-image: url(../img/Public/TBlue_MDarkBlue-BWhite-Y.png);
    background-position: top;
    background-repeat: repeat-x;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 26px;
    overflow: hidden;
}
.ToolBar ul li{
    background-image: url(../img/Public/TBlue_MDarkBlue-BWhite-Y.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    line-height: 26px;
    color: #fff;
    margin: 0 0 0 5px;
    padding: 0 5px;
    font-weight: bold;
    float: left;
    cursor: pointer;
    font-size: 14px;
    border-left: 1px solid transparent;
}
.ToolBar ul li.Maximize,.ToolBar ul li.Restore {
	float: right;
}
.ToolBar ul li.Maximize i {
	background-image: url(../img/Public/MenuIcons/1.png);
	background-position: 0px -312px;
}
.ToolBar ul li.Restore i {
	background-image: url(../img/Public/MenuIcons/1.png);
	background-position: -24px -312px;
}
.ToolBar ul li:hover{
    background-position:right -26px;
    border-left:1px solid #466081;
}
.ToolBar ul li i{
    width: 24px;
    height: 24px;
    margin: 2px 2px 0px 0;
    background-image: url(../img/Public/MenuIcons/2.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
}
.ToolBar ul li.Export a {
	color: #fff;
	text-decoration: none;
}
/*<工具栏中各种按钮的图标>*/
.ToolBar ul li.Print i{
    background-position: -672px -24px;
}
.ToolBar ul li.Audit i,.ToolBar ul li.Modify i{
    background-position: 0px -24px;
}
.ToolBar ul li.Resume i{
    background-position: -528px -24px;
}
.ToolBar ul li.Deleted i{
    background-position: -168px -24px;
}
.ToolBar ul li.DeleteAll i{
    background-position: -504px -24px;
}
.ToolBar ul li.Cased i{
    background-position: -312px -24px;
}
.ToolBar ul li.Refused i{
    background-position: -456px -24px;
}
.ToolBar ul li.Save i{
    background-position: -120px -24px;
}
.ToolBar ul li.New i{
     background-position: -312px -24px;
 }
.ToolBar ul li.Delete i{
    background-position: -168px -24px;
}
.ToolBar ul li.XSQK i{
    background-image: url(../../CSS/img/Public/MenuIcons/1.png);
    background-position: -25px -26px;
}
.ToolBar ul li.ResetPassword i{
     background-position: -528px -24px;
 }
.ToolBar ul li.Open i{
    background-position: -240px -24px;
}
.ToolBar ul li.Copy i{
    background-position: -144px -24px;
}
.ToolBar ul li.Send i{
    background-position: -72px -24px;
}
.ToolBar ul li.AddRow i{
    background-position: -360px -24px;
}
.ToolBar ul li.DelRow i{
    background-position: -384px -24px;
}
.ToolBar ul li.Export i{
    background-position: -624px -24px;
}
.ToolBar ul li.Import i{
    background-position: -648px -24px;
}
.ToolBar ul li.DisasterReview i{
    background-position: -240px -24px;
}
.ToolBar ul li.River i{
    background-position: -696px -24px;
}
.ToolBar ul li.SimpleSheet i{
    background-position: -288px -24px;
}
.ToolBar ul li.Download i{
	background-position: -96px -24px;
} 
.ToolBar ul li.CommonReport i{
	 background-position: -240px -24px;
}
.ToolBar ul li.CommonReport a {
    color: inherit;
    text-decoration: none;
}
.ToolBar ul li.Reset i {
	background-position: -530px -26px;
}

/*<工具栏中各种按钮的图标>*/

/*ToolBar中的耳机菜单*/
.ToolBar ul li.Reset{
	width: 68px;
}
.ToolBar ul li.Reset:hover ul {
	display: block;
}
.ToolBar ul li.Reset div {
	width: 57px;
	margin: 0 auto;
}
.ToolBar ul li.Reset ul {
	position: absolute;
	width: 78px;
	margin: 0 0 0 -6px;
	height: 53px;
	z-index: 2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
}
.ToolBar ul li.Reset ul li {
	float: left;
	clear: both;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}