<div class="LeftTree"  name="Open">
    <div class="Left">
        <div>
            <p>
                <label>报表类型：</label>
                <select ng-model="Open.ReportTitle.ORD_Code" ng-options="op.code as op.name for op in BaseData.Select.RptClass">
                </select>
            </p>
            <p>
                <label>时段类型：</label>
                <select ng-model="Open.ReportTitle.StatisticalCycType" ng-options="op.value as op.name for op in BaseData.Select.CycType[Open.ReportTitle.ORD_Code]">
                    <option value="">全部时段类型</option>
                </select>
            </p>
        </div>
        <div class="Tabs">
            <ul>
                <li class="Inbox" ng-class="{Selected:Open.Selected.Box.Tree == 'MyRptTree'}" ng-click="Open.Tree.Switch('MyRptTree')"><span><i></i>我的表箱</span></li>
                <li class="Cased" ng-hide="Config.Page.Open.Func.TreeBoxes.Cased" ng-class="{Selected:Open.Selected.Box.Tree == 'ReceivedRptTree'}"  ng-click="Open.Tree.Switch('ReceivedRptTree')"> <!--浙江、黑龙江县级没有“已收表箱”-->
                    <span><i></i>已收表箱</span>
                </li>
            </ul>
        </div>
        <div class="TreeBoxes" ng-switch on="Open.ReportTitle.ORD_Code" ng-class="{ShowAggAcc:Open.Report.Current.ReportTitle.SourceType > 0}">
            <div ng-switch-when="HL01" ng-switch on="Open.Selected.Box.Tree">
                <div ng-switch-when="MyRptTree">
                    <ul ng-tree id="HL01MyRptTree" class="ztree">
                    </ul>
                </div>
                <div ng-switch-when="ReceivedRptTree">
                    <div class="UnitName">
                        <label>单位名称：</label>
                        <select ng-model="Open.ReportTitle.UnitCode">
                            <option value="{{BaseData.Unit.Local.UnitCode}}" ng-selected="Open.ReportTitle.UnitCode == BaseData.Unit.Local.UnitCode">所有单位</option>
                            <option ng-repeat="obj in BaseData.Unit.Unders" value="{{obj.UnitCode}}" ng-selected="Open.ReportTitle.UnitCode == obj.UnitCode">{{obj.UnitName}}</option>
                        </select>
                    </div>
                    <ul ng-tree id="HL01ReceivedRptTree" class="ztree">
                    </ul>
                </div>
            </div>
            <div ng-switch-when="HP01" ng-switch on="Open.Selected.Box.Tree">
                <div ng-switch-when="MyRptTree">
                    <ul ng-tree id="HP01MyRptTree" class="ztree">
                    </ul>
                </div>
                <div ng-switch-when="ReceivedRptTree">
                    <div class="UnitName">
                        <label>单位名称：</label>
                        <select ng-model="Open.ReportTitle.UnitCode">
                            <option value="{{BaseData.Unit.Local.UnitCode}}" ng-selected="Open.ReportTitle.UnitCode == BaseData.Unit.Local.UnitCode">所有单位</option>
                            <option ng-repeat="obj in BaseData.Unit.Unders" value="{{obj.UnitCode}}" ng-selected="Open.ReportTitle.UnitCode == obj.UnitCode">{{obj.UnitName}}</option>
                        </select>
                    </div>
                    <ul ng-tree id="HP01ReceivedRptTree" class="ztree">
                    </ul>
                </div>
            </div>
            <div ng-switch-when="NP01">
                <div>
                    <ul ng-tree id="NP01MyRptTree" class="ztree">
                    </ul>
                </div>
            </div>
        </div>
        <div class="AggAccBox" ng-show="Open.Report.Current.ReportTitle.SourceType > 0">
            <div class="AggAcc-Menu">
                <ul>
                    <li ng-if="Authority == 0" class="Add" ng-hide="Open.Report.Current.Attr.HB" ng-click="Open.Report.Fn.Core.AggAcc.Sum()"><i></i>加表</li>
                    <li ng-if="Authority == 0" class="Del" ng-hide="Open.Report.Current.Attr.HB" ng-click="Open.Report.Fn.Core.AggAcc.Sub()"><i></i>减表</li>
                </ul>
            </div>
            <div class="AggAcc-Content">
                <ul>
                    <li ng-repeat="rpt in Open.Report.Current.Attr.AggAcc.Content" ng-class="{Selected:rpt.id == Open.Report.Attr.AggAcc.Selected.id}" ng-click="Open.Report.Attr.AggAcc.Selected = rpt" ng-dblclick="Open.Report.Fn.Core.AggAcc.View(rpt)">
                        <a ng-if="rpt.SourceType != 6 && Open.Report.Current.ReportTitle.SourceType == '1'">
                            [{{BaseData.Unit.Unders.Find("UnitCode",rpt.UnitCode,"UnitName")}}][{{Assist.CN_Name("SourceType",rpt.SourceType)}}]{{rpt.StartDate}}-{{rpt.EndDate}}
                        </a>
                        <a ng-if="rpt.SourceType != 6 && Open.Report.Current.ReportTitle.SourceType == '2'">
                            [{{Assist.CN_Name("SourceType",rpt.SourceType)}}][{{rpt.State == '3' ? '已报送' : '未报送'}}]{{rpt.StartDate}}-{{rpt.EndDate}}
                        </a>
                        <a ng-if="rpt.SourceType == 6" style="color: red; font-weight: bolder;">
                            [{{BaseData.Unit.Unders.Find("UnitCode",rpt.UnitCode,"UnitName")}}][差值表]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Right" pos-top="56" ng-if="Open.Report.Current">
        <div class="ToolBar">
            <ul>
                <li class="Save" ng-if="Authority == 0" ng-hide="Config.Page.Open.Func.Save" ng-click="Open.Report.Fn.Core.Private.Call('Save')">
                    <i></i>保存
                </li>
                <li class="Copy" ng-if="Authority == 0" ng-hide="Config.Page.Open.Func.Copy" ng-click="Open.Report.Fn.Core.Save('Copy')">
                    <i></i>另存为数据表
                </li>
                <li class="Send" ng-if="Authority == 0" ng-hide="Config.Page.Open.Func.Send || Open.Report.Current.ReportTitle.State == 3" ng-click="Open.Report.Fn.Core.Send()">
                    <i></i>报送
                </li>
                <li class="XSQK" ng-if="Open.Report.Current.ReportTitle.PageNO != 0 && SysORD_Code == 'NP01' && BaseData.Unit.Local.Limit == 2" ng-view-xsqk>
                    <i></i>蓄水情况
                </li>
                <li class="Reset" ng-if="Authority == 0" ng-show="SysORD_Code == 'NP01' && BaseData.Unit.Local.Limit == 3" ng-click="Open.Report.Fn.Core.Delete.Data()">
                    <i></i>清除
                </li>
                <li class="AddRow" ng-if="Authority == 0" ng-hide="Config.Page.Open.Func.AddRow" ng-click="Open.Report.Fn.Core.AddRow()"> <!--浙江县级不需要增加、删除行-->
                    <i></i>增加行
                </li>
                <li class="DelRow" ng-if="Authority == 0" ng-hide="Config.Page.Open.Func.DelRow" ng-click="Open.Report.Fn.Core.DelRow()">
                    <i></i>删除行
                </li>
                <li class="Import" ng-if="Authority == 0" ng-hide="Config.Page.Open.Func.Import" autofileupload>
                    <i></i>导入
                </li>
                <li class="Export" ng-hide="Config.Page.Open.Func.Export">
                    <a href="{{'ReportOperate/ExportExcel?pageno=' + Open.Report.Current.ReportTitle.PageNO + '&rpttype=' + Open.Report.Current.ReportTitle.ORD_Code +
                                 '&sTime=' + Open.Report.Current.ReportTitle.StartDateTime + '&eTime=' + Open.Report.Current.ReportTitle.EndDateTime}}">
                        <i></i>导出
                    </a>
                </li>
                <li class="CommonReport" ng-if="Authority == 0" ng-hide="Config.Page.Open.Func.NRS">
                    <a href="{{'ReportOperate/ExportExcel?pageno=' + Open.Report.Current.ReportTitle.PageNO + '&rpttype=GT'}}">
                        <i></i>国统表
                    </a>
                </li>
                <form style="display: none" enctype="multipart/form-data">
                    <input type="file" id="ImportExcel" name="file">
                    <input type="reset" value="重置">
                </form>
                <li class="DisasterReview" ng-hide="Config.Page.Open.Func.DisasterReview" ng-click="Open.Report.Fn.Core.ReportDetails()">
                    <i></i>灾情综述
                </li>
                <li class="River" ng-hide="Config.Page.Open.Func.River" ng-click="Open.Report.Fn.Core.HL01.ViewRiverData()">
                    <i></i>流域数据
                </li>
                <li class="Print" ng-click="Open.Report.Fn.Core.Print()"><i></i>打印</li>
                <li class="CommonReport" ng-hide="Config.Page.Open.Func.Notice" ng-click="Open.Report.Fn.Core.ReportDetails()">
                    <i></i>通报
                </li>
                <li class="Delete" ng-if="Authority == 0" ng-hide="Config.Page.Open.Func.Delete || Open.Report.Current.ReportTitle.State == 3" ng-click="Open.Report.Fn.Core.Delete.Report()">
                    <i></i>删除
                </li>
                <li class="Maximize" title="最大化" ng-show="Open.Report.Screen.State == 'inhreit'" ng-click="Open.Report.Screen.Fn.Maximize('.Right',Open.Report.Screen)">
                    <i></i>
                </li>
                <li class="Restore" title="还原" ng-show="Open.Report.Screen.State == 'full'" ng-click="Open.Report.Screen.Fn.Restore('.Right',Open.Report.Screen)">
                    <i></i>
                </li>
                <!--<li class="Audit"><i></i>领导审核</li>
                <li class="SimpleSheet"><i></i>国家简表</li>-->
            </ul>
        </div>
        <div id="Report">
            <ul id="ReportTabs">
                <li ng-repeat="rpt in Open.Report.Opened" title="{{'页号：' + rpt.ReportTitle.PageNO}}" ng-class="{Selected:rpt.ReportTitle.PageNO == Open.Report.Current.ReportTitle.PageNO}" ng-click="Open.Report.Current = rpt; Open.Report.Fn.Comm.SelectNode()">
                    <span class="title">
                        <span name="icon" ng-class="'cycType' + rpt.ReportTitle.StatisticalCycType"></span>
                        <span>
                            [{{Assist.CN_Name("ORD_Code",rpt.ReportTitle.ORD_Code)}}][{{Assist.CN_Name("SourceType",rpt.ReportTitle.SourceType)}}]
                            {{rpt.ReportTitle.StartDateTime}}至{{rpt.ReportTitle.EndDateTime}}
                            <a class="TabClose" title="关闭" href="javascript:void(0)" ng-click="Open.Report.Fn.Core.Close(rpt.ReportTitle.PageNO)">x</a>
                        </span>
                    </span>
                </li>
            </ul>
            <div ng-if="Authority == 0" report-changed ng-include="'Index/GetTemmplate?type=rpt&url=' + Open.Report.Current.ReportTitle.ORD_Code.slice(0,2) + '.Edit'">

            </div>
            <div ng-if="Authority == 1" report-changed ng-include="'Index/GetTemmplate?type=rpt&url=' + Open.Report.Current.ReportTitle.ORD_Code.slice(0,2) + '.View'">
                
            </div>
        </div>
        <div id="Report-Footer">
            <div class="Tabs">
                <ul>
                    <li class="ReportTitle" ng-class="{Selected:Open.Report.Current.Attr.ReportFooter == 'ReportTitle'}" ng-click="Open.Report.Current.Attr.ReportFooter='ReportTitle'">
                        <span><i></i>表头尾信息</span>
                    </li>
                    <li class="Affix" ng-class="{Selected:Open.Report.Current.Attr.ReportFooter == 'Affix'}" ng-click="Open.Report.Current.Attr.ReportFooter='Affix'">
                        <span><i></i>附件</span>
                    </li>
                    <li class="CheckAlert" ng-show="Open.Report.Current.ReportTitle.ORD_Code == 'HL01'" ng-class="{Selected:Open.Report.Current.Attr.ReportFooter == 'CheckAlert'}" ng-click="Open.Report.Current.Attr.ReportFooter='CheckAlert'">
                        <span><i></i>校核提示</span>
                    </li>
                    <li class="Instructions" ng-class="{Selected:Open.Report.Current.Attr.ReportFooter == 'Instructions'}" ng-click="Open.Report.Current.Attr.ReportFooter='Instructions'">
                        <span><i></i>填表说明</span>
                    </li>
                </ul>
                <div class="Notice" title="{{Open.Report.Current.Attr.Notice}}">
                    {{Open.Report.Current.Attr.Notice}}
                </div>
            </div>
            <div class="Boxes">
                <div class="ReportTitle" ng-hide="Open.Report.Current.Attr.ReportFooter != 'ReportTitle'">
                    <div ng-style="{ 'min-width' : (BaseData.Select.CycType[Open.Report.Current.ReportTitle.ORD_Code].length < 6 ? '404px' : '455px') }">
                        <p class="CycType">
                            <label>时段类型：</label>
                            <label ng-repeat="type in BaseData.Select.CycType[Open.Report.Current.ReportTitle.ORD_Code]">
                                <input type="radio" name="cycType" ng-model="Open.Report.Current.ReportTitle.StatisticalCycType" ng-disabled="Open.Report.Current.Attr.HB" value="{{type.value}}"/>
                                {{type.name}}
                            </label>
                        </p>
                        <p>
                            <label>起止日期：</label>
                            <input ng-model="Open.Report.Current.ReportTitle.StartDateTime" ng-wdatepicker='{"maxDate": "Open.Report.Current.ReportTitle.EndDateTime"}'
                             type="text" ng-disabled="Config.Page.Open.Func.ReportTitle.StartDateTime" readonly/>
                            <label> 至 </label>
                            <input ng-model="Open.Report.Current.ReportTitle.EndDateTime" ng-wdatepicker='{"minDate":"Open.Report.Current.ReportTitle.StartDateTime"}' type="text" ng-disabled="Config.Page.Open.Func.ReportTitle.EndDateTime" readonly />
                        </p>
                        <p>
                            <label>填报日期：</label>
                            <input ng-wdatepicker='{"dateFmt":"yyyy-MM-dd HH:mm:ss","minDate":"Attr.CurrentYear + \"-01-01\""}' ng-model="Open.Report.Current.ReportTitle.WriterTime" ng-disabled="Open.Report.Current.Attr.HB" type="text" readonly />
                        </p>
                    </div>
                    <div ng-hide="Open.Report.Current.ReportTitle.ORD_Code == 'NP01'">
                        <p>
                            <label>{{['33','35'].In_Array(SysUserCode) ? '备注' : Open.Report.Attr.Instruction.name + '填报说明'}}：</label> 
                        </p>
                        <p>
                            <textarea readonly ng-if="!['33','35'].In_Array(SysUserCode)" style="text-align: center">{{Open.Report.Attr.Instruction.content}}</textarea>
                            <textarea ng-if="['33','35'].In_Array(SysUserCode)" style="text-align: center" ng-model="Open.Report.Current.ReportTitle.Remark" ng-blur="FCQ();FCL(127);"></textarea>
                        </p>
                    </div>
                    <div ng-hide="Open.Report.Current.ReportTitle.ORD_Code == 'NP01'">
                        <p>
                            <label>&nbsp; 填报单位：</label>
                            <input class="UnitName" type="text" ng-disabled="Open.Report.Current.Attr.HB" ng-model="Open.Report.Current.ReportTitle.UnitName" ng-blur="FCQ();FCL(20);"/>
                        </p>
                        <p>
                            <label>单位负责人：</label>
                            <input class="UnitPrincipal" type="text" ng-disabled="Open.Report.Current.Attr.HB" ng-model="Open.Report.Current.ReportTitle.UnitPrincipal" ng-blur="FCQ();FCL(8)"/>
                            <label>统计负责人：</label>
                            <input class="StatisticsPrincipal" type="text" ng-disabled="Open.Report.Current.Attr.HB" ng-model="Open.Report.Current.ReportTitle.StatisticsPrincipal" ng-blur="FCQ();FCL(8)"/>
                        </p>
                        <p>
                            <label>&nbsp; &nbsp; 填报人：</label>
                            <input class="WriterName" type="text" ng-disabled="Open.Report.Current.Attr.HB" ng-model="Open.Report.Current.ReportTitle.WriterName" ng-blur="FCQ();FCL(8);"/>
                        </p>
                    </div>
                </div>
                <div ng-style="Open.Report.Current.Attr.ReportFooter == 'Affix' ? { visibility: 'visible' } : { visibility: 'hidden' }" class="Affix">
                    <ul>
                        <li ng-repeat="affix in Open.Report.Current.Affix">
                            <img src="../../../CSS/Img/Public/Close.png" title="删除" ng-click="Open.Report.Fn.Core.Delete.Affix($index,affix.tbno,affix.url)"/>
                            <a href="{{'/AffixOperater/DownFiles?name=' + affix.name + '&url=' + affix.url}}">
                                {{affix.name}}
                            </a>
                        </li>
                    </ul>
                    <div ng-if="Authority == 0" ng-hide="Open.Report.Current.Attr.HB">
                        <input type="file" id="file_upload" name="file_upload" ng-fileupload/>
                    </div>
                </div>
                <div ng-show="Open.Report.Current.Attr.ReportFooter == 'CheckAlert'" class="CheckAlert">
                    <ul>
                        <li ng-repeat="obj in Open.Report.Current.Attr.CheckErrors" ng-click="RptErrorsSelect(obj)" ng-class="{Selected:obj.Selected}">
                            <font style="font-weight: bolder;">{{$index + 1}}.&nbsp;</font>{{obj.Message}}
                        </li>
                    </ul>
                </div>
                <div ng-show="Open.Report.Current.Attr.ReportFooter == 'Instructions'" class="Explain">
                    {{Open.Report.Attr.Explain}}
                </div>
            </div>
        </div>
    </div>
</div>