packages/
DBHelper/bin/
DBHelper/obj/
EntityModel/bin/
EntityModel/obj/
LogicProcessingClass/bin/
LogicProcessingClass/obj/
ZQFW/bin/
ZQFW/obj/
ZQFW/Affix/
ZQFW/XML/
ZQFW/ExcelFile/
ZQFW/ExportPicture/