<tbody>
    <tr>
        <th></th>
        <th style="text-align: center">
            合计
        </th>
        <td>
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].YMFWMJ}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].YMFWBL}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].SZRK}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].SWRK}}
        </td>
        <td>
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].GCYMLS}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].GCLJJYL}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].GCHSWKRK}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].GCJJZYRK}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].ZYZJZDSS}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].SMXGS}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].SMXGD}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].SMXGQ}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].SMXJT}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].JZWSYFW}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].JZWSYDX}}
        </td>
        <td>
            {{Report[Attr.NameSpace].Current.HL013[0].CQZJJJSS}}
        </td>
        <td>
        </td>
    </tr>
    <tr ng-repeat="hl013 in Report[Attr.NameSpace].Current.HL013" ng-if="hl013.DW != '合计'">
        <th>
        </th>
        <th style="text-align: center">
            {{hl013.DW}}
        </th>
        <td class="txt_center">
            {{hl013.CSMC}}
        </td>
        <td>
            {{hl013.YMFWMJ}}
        </td>
        <td>
            {{hl013.YMFWBL}}
        </td>
        <td>
            {{hl013.SZRK}}
        </td>
        <td>
            {{hl013.SWRK}}
        </td>
        <td style="white-space: nowrap;" class="txt_center">
            {{hl013.GCJSSJ}}
        </td>
        <td>
            {{hl013.GCYMLS}}
        </td>
        <td>
            {{hl013.GCLJJYL}}
        </td>
        <td>
            {{hl013.GCHSWKRK}}
        </td>
        <td>
            {{hl013.GCJJZYRK}}
        </td>
        <td>
            {{hl013.ZYZJZDSS}}
        </td>
        <td>
            {{hl013.SMXGS}}
        </td>
        <td>
            {{hl013.SMXGD}}
        </td>
        <td>
            {{hl013.SMXGQ}}
        </td>
        <td>
            {{hl013.SMXJT}}
        </td>
        <td>
            {{hl013.JZWSYFW}}
        </td>
        <td>
            {{hl013.JZWSYDX}}
        </td>
        <td>
            {{hl013.CQZJJJSS}}
        </td>
        <td class="txt_center">
            {{BaseData.RiverCode[hl013.RiverCode]}}
        </td>
    </tr>
</tbody>