<tbody>
    <tr ng-repeat="sh034 in Open.Report.Current.SH034">
        <th>
            {{$index + 1}}
        </th>
        <th>
            <span class="txt_center">{{sh034.XZQMC}}</span>
        </th>
        <td>
            <span class="pointer" ng-bind="sh034.YJZB" ng-click="FCK();FCS()"></span>
        </td>
        <td>
            <span class="pointer" ng-bind="sh034.YJGZ" ng-click="FCK();FCS()"></span>
        </td>
        <td>
            <span class="pointer" ng-bind="sh034.RJZB" ng-click="FCK();FCS()"></span>
        </td>
        <td>
            <span class="pointer" ng-bind="sh034.RJGZ" ng-click="FCK();FCS()"></span>
        </td>
        <td>
            <span class="pointer" ng-bind="sh034.XTJC" ng-click="FCK();FCS()"></span>
        </td>
        <td>
            <span class="pointer" ng-bind="sh034.HTYS" ng-click="FCK();FCS()"></span>
        </td>
    </tr>
</tbody>