<div class="Rpt-Content">
    <table ng-show="Report.TableIndex == 0">
        <caption>
            洪涝灾害基本情况统计表
        </caption>
        <thead>
            <tr>
                <th rowspan="3" nowrap="">
                    地区
                </th>
                <th colspan="2" scope="col">
                    受灾范围
                </th>
                <th rowspan="2" scope="col">
                    受灾人口
                </th>
                <th rowspan="2" scope="col">
                    受淹城镇
                </th>
                <th rowspan="2" scope="col">
                    倒塌房屋
                </th>
                <th rowspan="2" scope="col">
                    死亡人口
                </th>
                <th rowspan="2" scope="col">
                    失踪人口
                </th>
                <th rowspan="2" scope="col">
                    转移人口
                </th>
                <th rowspan="2" scope="col">
                    直接经济总损失
                </th>
            </tr>
            <tr>
                <th scope="col">
                    县（市、区）
                </th>
                <th scope="col">
                    乡（镇、街道）
                </th>
            </tr>
            <tr>
                <th scope="col" name="SZFWX">
                    {{BaseData.Field.SZFWX.MeasureName ? BaseData.Field.SZFWX.MeasureName : "（个）"}}
                </th>
                <th scope="col" name="SZFWZ">
                    {{BaseData.Field.SZFWZ.MeasureName ? BaseData.Field.SZFWZ.MeasureName : "（个）"}}
                </th>
                <th scope="col" name="SZRK">
                    {{BaseData.Field.SZRK.MeasureName ? BaseData.Field.SZRK.MeasureName : "（人）"}}
                </th>
                <th scope="" name="SYCS">
                    {{BaseData.Field.SYCS.MeasureName ? BaseData.Field.SYCS.MeasureName : "（个）"}}
                </th>
                <th scope="col" name="DTFW">
                    {{BaseData.Field.DTFW.MeasureName ? BaseData.Field.DTFW.MeasureName : "（间）"}}
                </th>
                <th scope="col" name="SWRK">
                    {{BaseData.Field.SWRK.MeasureName ? BaseData.Field.SWRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="SZRKR">
                    {{BaseData.Field.SZRKR.MeasureName ? BaseData.Field.SZRKR.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="ZYRK">
                    {{BaseData.Field.ZYRK.MeasureName ? BaseData.Field.ZYRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="ZJJJZSS">
                    {{BaseData.Field.ZJJJZSS.MeasureName ? BaseData.Field.ZJJJZSS.MeasureName : "（万元）"}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hl011 in Report.HL011">
                <th>
                    {{hl011.DW}}
                </th>
                <td>
                    {{hl011.SZFWX}}
                </td>
                <td>
                    {{hl011.SZFWZ}}
                </td>
                <td>
                    {{hl011.SZRK}}
                </td>
                <td>
                    {{hl011.SYCS}}
                </td>
                <td>
                    {{hl011.DTFW}}
                </td>
                <td>
                    {{hl011.SWRK}}
                </td>
                <td>
                    {{hl011.SZRKR}}
                </td>
                <td>
                    {{hl011.ZYRK}}
                </td>
                <td>
                    {{hl011.ZJJJZSS}}
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="Report.TableIndex == 1">
        <caption>
            农林牧渔业洪涝灾害统计表
        </caption>
        <thead>
            <tr>
                <th rowspan="3" nowrap="">
                    地区
                </th>
                <th colspan="2" scope="col">
                    农作物受灾面积
                </th>
                <th colspan="2" scope="col" rolspan="2">
                    农作物成灾面积
                </th>
                <th colspan="2" scope="col" rolspan="2">
                    农作物绝收面积
                </th>
                <th rowspan="2" scope="col">
                    因灾减产粮食
                </th>
                <th rowspan="2" scope="col">
                    经济作物损失
                </th>
                <th rowspan="2" scope="col">
                    死亡大牲畜
                </th>
                <th colspan="2" scope="col">
                    水产养殖损失
                </th>
                <th rowspan="2" scope="col">
                    农林牧渔业直接经济损失
                </th>
            </tr>
            <tr>
                <th scope="col">
                    小计
                </th>
                <th scope="col">
                    其中粮食作物
                </th>
                <th scope="col">
                    小计
                </th>
                <th scope="col">
                    其中粮食作物
                </th>
                <th scope="col">
                    小计
                </th>
                <th scope="col">
                    其中粮食作物
                </th>
                <th scope="col">
                    面积
                </th>
                <th scope="col">
                    数量
                </th>
            </tr>
            <tr>
                <th scope="col" name="SHMJXJ">
                    {{BaseData.Field.SHMJXJ.MeasureName ? BaseData.Field.SHMJXJ.MeasureName : "（千公顷）"}}
                </th>
                <th scope="col" name="SHMJLS">
                    {{BaseData.Field.SHMJLS.MeasureName ? BaseData.Field.SHMJLS.MeasureName : "（千公顷）"}}
                </th>
                <th scope="col" name="CZMJXJ">
                    {{BaseData.Field.CZMJXJ.MeasureName ? BaseData.Field.CZMJXJ.MeasureName : "（千公顷）"}}
                </th>
                <th scope="col" name="CZMJLS">
                    {{BaseData.Field.CZMJLS.MeasureName ? BaseData.Field.CZMJLS.MeasureName : " （千公顷）"}}
                </th>
                <th scope="col" name="JSMJXJ">
                    {{BaseData.Field.JSMJXJ.MeasureName ? BaseData.Field.JSMJXJ.MeasureName : "（千公顷）"}}
                </th>
                <th scope="col" name="JSMJLS">
                    {{BaseData.Field.JSMJLS.MeasureName ? BaseData.Field.JSMJLS.MeasureName : "（千公顷）"}}
                </th>
                <th scope="col" name="YZJCLS">
                    {{BaseData.Field.YZJCLS.MeasureName ? BaseData.Field.YZJCLS.MeasureName : "（万吨）"}}
                </th>
                <th scope="col" name="JJZWSS">
                    {{BaseData.Field.JJZWSS.MeasureName ? BaseData.Field.JJZWSS.MeasureName : "（万元）"}}
                </th>
                <th scope="col" name="SWDSC">
                    {{BaseData.Field.SWDSC.MeasureName ? BaseData.Field.SWDSC.MeasureName : " （万头）"}}
                </th>
                <th scope="col" name="SCYZMJ">
                    {{BaseData.Field.SCYZMJ.MeasureName ? BaseData.Field.SCYZMJ.MeasureName : "（千公顷）"}}
                </th>
                <th scope="col" name="SCYZSL">
                    {{BaseData.Field.SCYZSL.MeasureName ? BaseData.Field.SCYZSL.MeasureName : "（万吨）"}}
                </th>
                <th scope="col" name="NLMYZJJJSS">
                    {{BaseData.Field.NLMYZJJJSS.MeasureName ? BaseData.Field.NLMYZJJJSS.MeasureName
                    : "（亿元）"}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hl011 in Report.HL011">
                <th>
                    {{hl011.DW}}
                </th>
                <td>
                    {{hl011.SHMJXJ}}
                </td>
                <td>
                    {{hl011.SHMJLS}}
                </td>
                <td>
                    {{hl011.CZMJXJ}}
                </td>
                <td>
                    {{hl011.CZMJLS}}
                </td>
                <td>
                    {{hl011.JSMJXJ}}
                </td>
                <td>
                    {{hl011.JSMJLS}}
                </td>
                <td>
                    {{hl011.YZJCLS}}
                </td>
                <td>
                    {{hl011.JJZWSS}}
                </td>
                <td>
                    {{hl011.SWDSC}}
                </td>
                <td>
                    {{hl011.SCYZMJ}}
                </td>
                <td>
                    {{hl011.SCYZSL}}
                </td>
                <td>
                    {{hl011.NLMYZJJJSS}}
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="Report.TableIndex == 2">
        <caption>
            工业信息交通运输业洪涝灾害统计表
        </caption>
        <thead>
            <tr>
                <th rowspan="2" nowrap="">
                    地区
                </th>
                <th scope="col">
                    停产工矿企业
                </th>
                <th scope="col">
                    铁路中断
                </th>
                <th scope="col">
                    公路中断
                </th>
                <th scope="col">
                    机场关停
                </th>
                <th scope="col">
                    供电中断
                </th>
                <th scope="col">
                    通讯中断
                </th>
                <th scope="col">
                    工业信息交通运输业直接经济损失
                </th>
            </tr>
            <tr>
                <th scope="col" name="TCGKQY">
                    {{BaseData.Field.TCGKQY.MeasureName ? BaseData.Field.TCGKQY.MeasureName : "（个）"}}
                </th>
                <th scope="col" name="TLZD">
                    {{BaseData.Field.TLZD.MeasureName ? BaseData.Field.TLZD.MeasureName : "（条次）"}}
                </th>
                <th scope="col" name="GLZD">
                    {{BaseData.Field.GLZD.MeasureName ? BaseData.Field.GLZD.MeasureName : "（条次）"}}
                </th>
                <th scope="col" name="JCGKGT">
                    {{BaseData.Field.JCGKGT.MeasureName ? BaseData.Field.JCGKGT.MeasureName : "（个次）"}}
                </th>
                <th scope="col" name="GDZD">
                    {{BaseData.Field.GDZD.MeasureName ? BaseData.Field.GDZD.MeasureName : "（条次）"}}
                </th>
                <th scope="col" name="TXZD">
                    {{BaseData.Field.TXZD.MeasureName ? BaseData.Field.TXZD.MeasureName : " （条次）"}}
                </th>
                <th scope="col" name="GJYSZJJJSS">
                    {{BaseData.Field.GJYSZJJJSS.MeasureName ? BaseData.Field.GJYSZJJJSS.MeasureName
                    : "（万元）"}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hl011 in Report.HL011">
                <th>
                    {{hl011.DW}}
                </th>
                <td>
                    {{hl011.TCGKQY}}
                </td>
                <td>
                    {{hl011.TLZD}}
                </td>
                <td>
                    {{hl011.GLZD}}
                </td>
                <td>
                    {{hl011.JCGKGT}}
                </td>
                <td>
                    {{hl011.GDZD}}
                </td>
                <td>
                    {{hl011.TXZD}}
                </td>
                <td>
                    {{hl011.GJYSZJJJSS}}
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="Report.TableIndex == 3">
        <caption>
            水利设施洪涝灾害统计表
        </caption>
        <thead>
            <tr>
                <th rowspan="3" nowrap="">
                    地区
                </th>
                <th colspan="2" scope="col">
                    损坏水库
                </th>
                <th colspan="3" scope="col" rolspan="2">
                    水库垮坝
                </th>
                <th colspan="2" scope="col" rolspan="2">
                    损坏堤防
                </th>
                <th colspan="2" scope="col" rolspan="2">
                    堤防决口
                </th>
                <th scope="col" class="noborder">
                    损坏
                </th>
                <th scope="col" class="noborder">
                    损坏
                </th>
                <th scope="col" class="noborder">
                    冲毁
                </th>
                <th scope="col" class="noborder">
                    损坏灌
                </th>
                <th scope="col" class="noborder">
                    损坏水
                </th>
                <th scope="col" class="noborder">
                    损坏
                </th>
                <th scope="col" class="noborder">
                    损坏机
                </th>
                <th scope="col" class="noborder">
                    损坏
                </th>
                <th scope="col" class="noborder">
                    水利设施
                </th>
            </tr>
            <tr>
                <th scope="col">
                    大中型
                </th>
                <th scope="col">
                    小型
                </th>
                <th scope="col">
                    大中型
                </th>
                <th scope="col">
                    小一
                </th>
                <th scope="col">
                    小二
                </th>
                <th scope="col">
                    处数
                </th>
                <th scope="col">
                    长度
                </th>
                <th scope="col">
                    处数
                </th>
                <th scope="col">
                    长度
                </th>
                <th scope="col" class="noborder">
                    护岸
                </th>
                <th scope="col" class="noborder">
                    水闸
                </th>
                <th scope="col" class="noborder">
                    塘坝
                </th>
                <th scope="col" class="noborder">
                    溉设施
                </th>
                <th scope="col" class="noborder">
                    文测站
                </th>
                <th scope="col" class="noborder">
                    机电井
                </th>
                <th scope="col" class="noborder">
                    电泵站
                </th>
                <th scope="col" class="noborder">
                    水电站
                </th>
                <th scope="col" class="noborder">
                    直接经济损失
                </th>
            </tr>
            <tr>
                <th scope="col" name="SHSKD">
                    {{BaseData.Field.SHSKD.MeasureName ? BaseData.Field.SHSKD.MeasureName : "（座）"}}
                </th>
                <th scope="col" name="SHSKX">
                    {{BaseData.Field.SHSKX.MeasureName ? BaseData.Field.SHSKX.MeasureName : "（座）"}}
                </th>
                <th scope="col" name="SKKBD">
                    {{BaseData.Field.SKKBD.MeasureName ? BaseData.Field.SKKBD.MeasureName : "(座)"}}
                </th>
                <th scope="col" name="SKKBX1">
                    {{BaseData.Field.SKKBX1.MeasureName ? BaseData.Field.SKKBX1.MeasureName : "（座）"}}
                </th>
                <th scope="col" name="SKKBX2">
                    {{BaseData.Field.SKKBX2.MeasureName ? BaseData.Field.SKKBX2.MeasureName : "（座）"}}
                </th>
                <th scope="col" name="SHDFCS">
                    {{BaseData.Field.SHDFCS.MeasureName ? BaseData.Field.SHDFCS.MeasureName : "(处)"}}
                </th>
                <th scope="col" name="SHDFCD">
                    {{BaseData.Field.SHDFCD.MeasureName ? BaseData.Field.SHDFCD.MeasureName : "（米）"}}
                </th>
                <th scope="col" name="DFJKCS">
                    {{BaseData.Field.DFJKCS.MeasureName ? BaseData.Field.DFJKCS.MeasureName : "（处）"}}
                </th>
                <th scope="col" name="DFJKCD">
                    {{BaseData.Field.DFJKCD.MeasureName ? BaseData.Field.DFJKCD.MeasureName : "（米）"}}
                </th>
                <th scope="col" name="SHHAC">
                    {{BaseData.Field.SHHAC.MeasureName ? BaseData.Field.SHHAC.MeasureName : "（处）"}}
                </th>
                <th scope="col" name="SHSZ">
                    {{BaseData.Field.SHSZ.MeasureName ? BaseData.Field.SHSZ.MeasureName : "（座）"}}
                </th>
                <th scope="col" name="CHTB">
                    {{BaseData.Field.CHTB.MeasureName ? BaseData.Field.CHTB.MeasureName : "（座）"}}
                </th>
                <th scope="col" name="SHGGSS">
                    {{BaseData.Field.SHGGSS.MeasureName ? BaseData.Field.SHGGSS.MeasureName : " （处）"}}
                </th>
                <th scope="col" name="SHSWCZ">
                    {{BaseData.Field.SHSWCZ.MeasureName ? BaseData.Field.SHSWCZ.MeasureName : "（个）"}}
                </th>
                <th scope="col" name="SHJDJ">
                    {{BaseData.Field.SHJDJ.MeasureName ? BaseData.Field.SHJDJ.MeasureName : "（眼）"}}
                </th>
                <th scope="col" name="SHJDBZ">
                    {{BaseData.Field.SHJDBZ.MeasureName ? BaseData.Field.SHJDBZ.MeasureName : "（座）"}}
                </th>
                <th scope="col" name="SHSDZ">
                    {{BaseData.Field.SHSDZ.MeasureName ? BaseData.Field.SHSDZ.MeasureName : "（座）"}}
                </th>
                <th scope="col" name="SLSSZJJJSS">
                    {{BaseData.Field.SLSSZJJJSS.MeasureName ? BaseData.Field.SLSSZJJJSS.MeasureName
                    : "（万元）"}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hl011 in Report.HL011">
                <th>
                    {{hl011.DW}}
                </th>
                <td>
                    {{hl011.SHSKD}}
                </td>
                <td>
                    {{hl011.SHSKX}}
                </td>
                <td>
                    {{hl011.SKKBD}}
                </td>
                <td>
                    {{hl011.SKKBX1}}
                </td>
                <td>
                    {{hl011.SKKBX2}}
                </td>
                <td>
                    {{hl011.SHDFCS}}
                </td>
                <td>
                    {{hl011.SHDFCD}}
                </td>
                <td>
                    {{hl011.DFJKCS}}
                </td>
                <td>
                    {{hl011.DFJKCD}}
                </td>
                <td>
                    {{hl011.SHHAC}}
                </td>
                <td>
                    {{hl011.SHSZ}}
                </td>
                <td>
                    {{hl011.CHTB}}
                </td>
                <td>
                    {{hl011.SHGGSS}}
                </td>
                <td>
                    {{hl011.SHSWCZ}}
                </td>
                <td>
                    {{hl011.SHJDJ}}
                </td>
                <td>
                    {{hl011.SHJDBZ}}
                </td>
                <td>
                    {{hl011.SHSDZ}}
                </td>
                <td>
                    {{hl011.SLSSZJJJSS}}
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="Report.TableIndex == 4">
        <caption>
            死亡/失踪人员基本情况统计表
        </caption>
        <thead>
            <tr>
                <th rowspan="2" nowrap="" style="width: 24px; min-width: 24px;">
                    选择
                </th>
                <th rowspan="2" nowrap="">
                    地区
                </th>
                <th colspan="7" scope="col">
                    死亡/失踪人员基本信息
                </th>
                <th rowspan="2" scope="col">
                    死亡/失踪原因
                </th>
                <th rowspan="2" scope="col">
                    备注
                </th>
                <th rowspan="2" scope="col">
                    流域
                </th>
            </tr>
            <tr>
                <th scope="col">
                    类别
                </th>
                <th scope="col">
                    姓名
                </th>
                <th scope="col">
                    性别
                </th>
                <th scope="col">
                    年龄
                </th>
                <th scope="col">
                    户籍所在地（落实到乡）
                </th>
                <th scope="col">
                    死亡/失踪时间
                </th>
                <th scope="col">
                    死亡/失踪地点
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hl012 in Report.HL012">
                <th style="width: 24px; min-width: 24px;">
                </th>
                <th style="padding: 0px;">
                    {{hl012.DW}}
                </th>
                <td>
                    {{hl012.DataType}}
                </td>
                <td>
                    {{hl012.SWXM}}
                </td>
                <td style="padding: 0px;">
                    {{hl012.SWXB}}
                </td>
                <td>
                    {{hl012.SWNL}}
                </td>
                <td>
                    {{hl012.SWHJ}}
                </td>
                <td>
                    {{hl012.SWSJ}}
                </td>
                <td>
                    {{hl012.SWDD}}
                </td>
                <td style="width: 140px;">
                    {{hl012.DeathReason}}
                </td>
                <td>
                    {{hl012.BZ}}
                </td>
                <td style="padding: 0px;">
                    {{Fn.CN_Name("RiverCode",hl012.RiverCode)}}
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="Report.TableIndex == 5">
        <caption>
            城市受淹情况统计表
        </caption>
        <thead>
            <tr>
                <th rowspan="4" nowrap="" style="width: 24px; min-width: 24px;">
                    选择
                </th>
                <th rowspan="4" nowrap="">
                    地区
                </th>
                <th rowspan="4" scope="col">
                    街道(城镇)名称
                </th>
                <th colspan="2" scope="col">
                    淹没范围
                </th>
                <th rowspan="2" scope="col" class="noborder">
                    受灾
                </th>
                <th rowspan="2" scope="col" class="noborder">
                    死亡
                </th>
                <th colspan="5" scope="col">
                    受淹过程
                </th>
                <th scope="col" class="noborder">
                    主要街道
                </th>
                <th colspan="4" scope="col">
                    生命线工程中断历时
                </th>
                <th colspan="2" scope="col">
                    建筑物受淹
                </th>
                <th scope="col" class="noborder">
                    城区直接
                </th>
                <th rowspan="4" scope="col">
                    所属流域
                </th>
            </tr>
            <tr>
                <th rowspan="2" scope="col">
                    面积
                </th>
                <th rowspan="2" scope="col">
                    淹没比例
                </th>
                <th rowspan="2" scope="col">
                    进水时间
                </th>
                <th rowspan="2" scope="col">
                    淹没历时
                </th>
                <th scope="col" class="noborder">
                    累积
                </th>
                <th scope="col" class="noborder">
                    洪水围
                </th>
                <th scope="col" class="noborder">
                    紧急转
                </th>
                <th rowspan="2" scope="col" class="noborder">
                    最大水深
                </th>
                <th rowspan="2" scope="col">
                    供水
                </th>
                <th rowspan="2" scope="col">
                    供电
                </th>
                <th rowspan="2" scope="col">
                    供气
                </th>
                <th rowspan="2" scope="col">
                    交通
                </th>
                <th rowspan="2" scope="col" class="noborder">
                    房屋
                </th>
                <th scope="col" class="noborder">
                    地下
                </th>
                <th rowspan="2" scope="col" class="noborder">
                    经济损失
                </th>
            </tr>
            <tr>
                <th scope="col" class="noborder">
                    人口
                </th>
                <th scope="col" class="noborder">
                    人口
                </th>
                <th scope="col" class="noborder">
                    降雨量
                </th>
                <th scope="col" class="noborder">
                    困人口
                </th>
                <th scope="col" class="noborder">
                    移人口
                </th>
                <th scope="col" class="noborder">
                    设施
                </th>
            </tr>
            <tr>
                <th scope="col" name="YMFWMJ">
                    {{BaseData.Field.YMFWMJ.MeasureName ? BaseData.Field.YMFWMJ.MeasureName : "（平方公里）"}}
                </th>
                <th scope="col" name="YMFWBL">
                    {{BaseData.Field.YMFWBL.MeasureName ? BaseData.Field.YMFWBL.MeasureName : "（%）"}}
                </th>
                <th scope="col" name="SZRK">
                    {{BaseData.Field.SZRK.MeasureName ? BaseData.Field.SZRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="SWRK">
                    {{BaseData.Field.SWRK.MeasureName ? BaseData.Field.SWRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="GCJSSJ">
                    {{BaseData.Field.GCJSSJ.MeasureName ? BaseData.Field.GCJSSJ.MeasureName : "（月日时）"}}
                </th>
                <th scope="col" name="GCYMLS">
                    {{BaseData.Field.GCYMLS.MeasureName ? BaseData.Field.GCYMLS.MeasureName : "（小时）"}}
                </th>
                <th scope="col" name="GCLJJYL">
                    {{BaseData.Field.GCLJJYL.MeasureName ? BaseData.Field.GCLJJYL.MeasureName : "（毫米）"}}
                </th>
                <th scope="col" name="GCHSWKRK">
                    {{BaseData.Field.GCHSWKRK.MeasureName ? BaseData.Field.GCHSWKRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="GCJJZYRK">
                    {{BaseData.Field.GCJJZYRK.MeasureName ? BaseData.Field.GCJJZYRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="ZYZJZDSS">
                    {{BaseData.Field.ZYZJZDSS.MeasureName ? BaseData.Field.ZYZJZDSS.MeasureName : "（米）"}}
                </th>
                <th scope="col" name="SMXGS">
                    {{BaseData.Field.SMXGS.MeasureName ? BaseData.Field.SMXGS.MeasureName : "（小时）"}}
                </th>
                <th scope="col" name="SMXGD">
                    {{BaseData.Field.SMXGD.MeasureName ? BaseData.Field.SMXGD.MeasureName : "（小时）"}}
                </th>
                <th scope="col" name="SMXGQ">
                    {{BaseData.Field.SMXGQ.MeasureName ? BaseData.Field.SMXGQ.MeasureName : "（小时）"}}
                </th>
                <th scope="col" name="SMXJT">
                    {{BaseData.Field.SMXJT.MeasureName ? BaseData.Field.SMXJT.MeasureName : "（小时）"}}
                </th>
                <th scope="col" name="JZWSYFW">
                    {{BaseData.Field.JZWSYFW.MeasureName ? BaseData.Field.JZWSYFW.MeasureName : "（万户）"}}
                </th>
                <th scope="col" name="JZWSYDX">
                    {{BaseData.Field.JZWSYDX.MeasureName ? BaseData.Field.JZWSYDX.MeasureName : "（平方米）"}}
                </th>
                <th scope="col" name="CQZJJJSS">
                    {{BaseData.Field.CQZJJJSS.MeasureName ? BaseData.Field.CQZJJJSS.MeasureName : "（万元）"}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th style="width: 24px; min-width: 24px;">
                </th>
                <th style="padding: 0px;">
                    合计
                </th>
                <td>
                </td>
                <td>
                    {{Report.HL013[0].YMFWMJ}}
                </td>
                <td>
                    {{Report.HL013[0].YMFWBL}}
                </td>
                <td>
                    {{Report.HL013[0].SZRK}}
                </td>
                <td>
                    {{Report.HL013[0].SWRK}}
                </td>
                <td>
                </td>
                <td>
                    {{Report.HL013[0].GCYMLS}}
                </td>
                <td>
                    {{Report.HL013[0].GCLJJYL}}
                </td>
                <td>
                    {{Report.HL013[0].GCHSWKRK}}
                </td>
                <td>
                    {{Report.HL013[0].GCJJZYRK}}
                </td>
                <td>
                    {{Report.HL013[0].ZYZJZDSS}}
                </td>
                <td>
                    {{Report.HL013[0].SMXGS}}
                </td>
                <td>
                    {{Report.HL013[0].SMXGD}}
                </td>
                <td>
                    {{Report.HL013[0].SMXGQ}}
                </td>
                <td>
                    {{Report.HL013[0].SMXJT}}
                </td>
                <td>
                    {{Report.HL013[0].JZWSYFW}}
                </td>
                <td>
                    {{Report.HL013[0].JZWSYDX}}
                </td>
                <td>
                    {{Report.HL013[0].CQZJJJSS}}
                </td>
                <td style="padding: 0px;">
                </td>
            </tr>
            <tr ng-repeat="hl013 in Report.HL013" ng-if="hl013.DW != '合计'">
                <th style="width: 24px; min-width: 24px;">
                </th>
                <th style="padding: 0px;">
                    {{hl013.DW}}
                </th>
                <td>
                    {{hl013.CSMC}}
                </td>
                <td>
                    {{hl013.YMFWMJ}}
                </td>
                <td>
                    {{hl013.YMFWBL}}
                </td>
                <td>
                    {{hl013.SZRK}}
                </td>
                <td>
                    {{hl013.SWRK}}
                </td>
                <td>
                    {{hl013.GCJSSJ}}
                </td>
                <td>
                    {{hl013.GCYMLS}}
                </td>
                <td>
                    {{hl013.GCLJJYL}}
                </td>
                <td>
                    {{hl013.GCHSWKRK}}
                </td>
                <td>
                    {{hl013.GCJJZYRK}}
                </td>
                <td>
                    {{hl013.ZYZJZDSS}}
                </td>
                <td>
                    {{hl013.SMXGS}}
                </td>
                <td>
                    {{hl013.SMXGD}}
                </td>
                <td>
                    {{hl013.SMXGQ}}
                </td>
                <td>
                    {{hl013.SMXJT}}
                </td>
                <td>
                    {{hl013.JZWSYFW}}
                </td>
                <td>
                    {{hl013.JZWSYDX}}
                </td>
                <td>
                    {{hl013.CQZJJJSS}}
                </td>
                <td style="padding: 0px;">
                    {{Fn.CN_Name("RiverCode",hl013.RiverCode)}}
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="Report.TableIndex == 6">
        <caption>
            抗洪抢险综合情况统计表一
        </caption>
        <thead>
            <tr>
                <th rowspan="4" nowrap="">
                    地区
                </th>
                <th colspan="11" scope="col">
                    防汛物资消耗
                </th>
                <th colspan="7" scope="col">
                    出动情况
                </th>
            </tr>
            <tr>
                <th rowspan="2" scope="col">
                    编织袋
                </th>
                <th rowspan="2" scope="col">
                    编织布
                </th>
                <th rowspan="2" scope="col">
                    挡水设施
                </th>
                <th rowspan="2" scope="col">
                    砂石料
                </th>
                <th rowspan="2" scope="col">
                    木材
                </th>
                <th rowspan="2" scope="col">
                    钢材
                </th>
                <th rowspan="2" scope="col">
                    救生衣
                </th>
                <th rowspan="2" scope="col">
                    抗灾用油
                </th>
                <th rowspan="2" scope="col">
                    抗灾用电
                </th>
                <th scope="col" class="noborder">
                    其他物资
                </th>
                <th scope="col" class="noborder">
                    总物资
                </th>
                <th colspan="4" scope="col">
                    投入抢险人数
                </th>
                <th colspan="3" scope="col">
                    抢险设备情况
                </th>
            </tr>
            <tr>
                <th scope="col" class="noborder">
                    消耗折算资金
                </th>
                <th scope="col" class="noborder">
                    消耗折算资金
                </th>
                <th scope="col">
                    合计
                </th>
                <th scope="col">
                    部队官兵
                </th>
                <th scope="col">
                    地方人员
                </th>
                <th scope="col">
                    防汛机动抢险队员
                </th>
                <th scope="col">
                    抢险舟（船）
                </th>
                <th scope="col">
                    运输设备
                </th>
                <th scope="col">
                    机械设备
                </th>
            </tr>
            <tr>
                <th scope="col" name="WZBZD">
                    {{BaseData.Field.WZBZD.MeasureName ? BaseData.Field.WZBZD.MeasureName : "（条）"}}
                </th>
                <th scope="col" name="WZBZB">
                    {{BaseData.Field.WZBZB.MeasureName ? BaseData.Field.WZBZB.MeasureName : "（平方米）"}}
                </th>
                <th scope="col" name="WZDSSS">
                    {{BaseData.Field.WZDSSS.MeasureName ? BaseData.Field.WZDSSS.MeasureName : "（延米）"}}
                </th>
                <th scope="col" name="WZSSL">
                    {{BaseData.Field.WZSSL.MeasureName ? BaseData.Field.WZSSL.MeasureName : "（立方米）"}}
                </th>
                <th scope="col" name="WZMC">
                    {{BaseData.Field.WZMC.MeasureName ? BaseData.Field.WZMC.MeasureName : "（立方米）"}}
                </th>
                <th scope="col" name="WZGC">
                    {{BaseData.Field.WZGC.MeasureName ? BaseData.Field.WZGC.MeasureName : "（吨）"}}
                </th>
                <th scope="col" name="WZJSY">
                    {{BaseData.Field.WZJSY.MeasureName ? BaseData.Field.WZJSY.MeasureName : "（件）"}}
                </th>
                <th scope="col" name="WZY">
                    {{BaseData.Field.WZY.MeasureName ? BaseData.Field.WZY.MeasureName : "（吨）"}}
                </th>
                <th scope="col" name="WZD">
                    {{BaseData.Field.WZD.MeasureName ? BaseData.Field.WZD.MeasureName : "（度）"}}
                </th>
                <th scope="col" name="WZQT">
                    {{BaseData.Field.WZQT.MeasureName ? BaseData.Field.WZQT.MeasureName : "（万元）"}}
                </th>
                <th scope="col" name="WZZXH">
                    {{BaseData.Field.WZZXH.MeasureName ? BaseData.Field.WZZXH.MeasureName : "（万元）"}}
                </th>
                <th scope="col" name="QXHJ">
                    {{BaseData.Field.QXHJ.MeasureName ? BaseData.Field.QXHJ.MeasureName : "（人次）"}}
                </th>
                <th scope="col" name="QXBDGB">
                    {{BaseData.Field.QXBDGB.MeasureName ? BaseData.Field.QXBDGB.MeasureName : "（人次）"}}
                </th>
                <th scope="col" name="QXDFRY">
                    {{BaseData.Field.QXDFRY.MeasureName ? BaseData.Field.QXDFRY.MeasureName : "（人次）"}}
                </th>
                <th scope="col" name="QXFXJD">
                    {{BaseData.Field.QXFXJD.MeasureName ? BaseData.Field.QXFXJD.MeasureName : "（人次）"}}
                </th>
                <th scope="col" name="SBQXZ">
                    {{BaseData.Field.SBQXZ.MeasureName ? BaseData.Field.SBQXZ.MeasureName : "（舟次）"}}
                </th>
                <th scope="col" name="SBYS">
                    {{BaseData.Field.SBYS.MeasureName ? BaseData.Field.SBYS.MeasureName : "（班次）"}}
                </th>
                <th scope="col" name="SBJX">
                    {{BaseData.Field.SBJX.MeasureName ? BaseData.Field.SBJX.MeasureName : "（台班）"}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hl014 in Report.HL014">
                <th>
                    {{hl014.DW}}
                </th>
                <td>
                    {{hl014.WZBZD}}
                </td>
                <td>
                    {{hl014.WZBZB}}
                </td>
                <td>
                    {{hl014.WZDSSS}}
                </td>
                <td>
                    {{hl014.WZSSL}}
                </td>
                <td>
                    {{hl014.WZMC}}
                </td>
                <td>
                    {{hl014.WZGC}}
                </td>
                <td>
                    {{hl014.WZJSY}}
                </td>
                <td>
                    {{hl014.WZY}}
                </td>
                <td>
                    {{hl014.WZD}}
                </td>
                <td>
                    {{hl014.WZQT}}
                </td>
                <td>
                    {{hl014.WZZXH}}
                </td>
                <td>
                    {{hl014.QXHJ}}
                </td>
                <td>
                    {{hl014.QXBDGB}}
                </td>
                <td>
                    {{hl014.QXFXJD}}
                </td>
                <td>
                    {{hl014.QXDFRY}}
                </td>
                <td>
                    {{hl014.SBQXZ}}
                </td>
                <td>
                    {{hl014.SBYS}}
                </td>
                <td>
                    {{hl014.SBJX}}
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="Report.TableIndex == 7">
        <caption>
            抗洪抢险综合情况统计表二
        </caption>
        <thead>
            <tr>
                <th rowspan="4" nowrap="">
                    地区
                </th>
                <th colspan="5" scope="col">
                    资金投入
                </th>
                <th colspan="11" scope="col">
                    防洪减灾效益
                </th>
            </tr>
            <tr>
                <th rowspan="2" scope="col">
                    小计
                </th>
                <th rowspan="2" scope="col">
                    中央
                </th>
                <th rowspan="2" scope="col">
                    省级
                </th>
                <th rowspan="2" scope="col">
                    省级以下
                </th>
                <th rowspan="2" scope="col">
                    群众投劳折资
                </th>
                <th rowspan="2" scope="col">
                    减淹耕地
                </th>
                <th rowspan="2" scope="col">
                    避免粮食减收
                </th>
                <th rowspan="2" scope="col">
                    减少受灾人口
                </th>
                <th rowspan="2" scope="col">
                    解救洪水围困群众
                </th>
                <th colspan="2" scope="col">
                    避免人员伤亡
                </th>
                <th colspan="3" scope="col">
                    转移人员
                </th>
                <th scope="col" class="noborder">
                    避免县级以上
                </th>
                <th rowspan="2" scope="col">
                    减灾经济效益
                </th>
            </tr>
            <tr>
                <th scope="col">
                    次数
                </th>
                <th scope="col">
                    人数
                </th>
                <th scope="col">
                    山洪
                </th>
                <th scope="col">
                    台风
                </th>
                <th scope="col">
                    其他
                </th>
                <th scope="col" class="noborder">
                    城区受淹
                </th>
            </tr>
            <tr>
                <th scope="col" name="ZJXJ">
                    {{BaseData.Field.ZJXJ.MeasureName ? BaseData.Field.ZJXJ.MeasureName : "（万元）"}}
                </th>
                <th scope="col" name="ZJZY">
                    {{BaseData.Field.ZJZY.MeasureName ? BaseData.Field.ZJZY.MeasureName : "（万元）"}}
                </th>
                <th scope="col" name="ZJSJ">
                    {{BaseData.Field.ZJSJ.MeasureName ? BaseData.Field.ZJSJ.MeasureName : "（万元）"}}
                </th>
                <th scope="col" name="ZJSJYS">
                    {{BaseData.Field.ZJSJYS.MeasureName ? BaseData.Field.ZJSJYS.MeasureName : "（万元）"}}
                </th>
                <th scope="col" name="ZJQZ">
                    {{BaseData.Field.ZJQZ.MeasureName ? BaseData.Field.ZJQZ.MeasureName : "（万元）"}}
                </th>
                <th scope="col" name="XYJYGD">
                    {{BaseData.Field.XYJYGD.MeasureName ? BaseData.Field.XYJYGD.MeasureName : "（公顷）"}}
                </th>
                <th scope="col" name="XYJMLSJS">
                    {{BaseData.Field.XYJMLSJS.MeasureName ? BaseData.Field.XYJMLSJS.MeasureName : "（吨）"}}
                </th>
                <th scope="col" name="XYJSSZRK">
                    {{BaseData.Field.XYJSSZRK.MeasureName ? BaseData.Field.XYJSSZRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="XYJJQZ">
                    {{BaseData.Field.XYJJQZ.MeasureName ? BaseData.Field.XYJJQZ.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="XYJMSWC">
                    {{BaseData.Field.XYJMSWC.MeasureName ? BaseData.Field.XYJMSWC.MeasureName : "（起）"}}
                </th>
                <th scope="col" name="XYJMSWR">
                    {{BaseData.Field.XYJMSWR.MeasureName ? BaseData.Field.XYJMSWR.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="XYZYSH">
                    {{BaseData.Field.XYZYSH.MeasureName ? BaseData.Field.XYZYSH.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="XYZYTF">
                    {{BaseData.Field.XYZYTF.MeasureName ? BaseData.Field.XYZYTF.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="XYZYQT">
                    {{BaseData.Field.XYZYQT.MeasureName ? BaseData.Field.XYZYQT.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="XYBMSY">
                    {{BaseData.Field.XYBMSY.MeasureName ? BaseData.Field.XYBMSY.MeasureName : "（座）"}}
                </th>
                <th scope="col" name="XYJZJJXY">
                    {{BaseData.Field.XYJZJJXY.MeasureName ? BaseData.Field.XYJZJJXY.MeasureName : "（元）"}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hl014 in Report.HL014">
                <th>
                    {{hl014.DW}}
                </th>
                <td>
                    {{hl014.ZJXJ}}
                </td>
                <td>
                    {{hl014.ZJZY}}
                </td>
                <td>
                    {{hl014.ZJSJ}}
                </td>
                <td>
                    {{hl014.ZJSJYS}}
                </td>
                <td>
                    {{hl014.ZJQZ}}
                </td>
                <td>
                    {{hl014.XYJYGD}}
                </td>
                <td>
                    {{hl014.XYJMLSJS}}
                </td>
                <td>
                    {{hl014.XYJSSZRK}}
                </td>
                <td>
                    {{hl014.XYJJQZ}}
                </td>
                <td>
                    {{hl014.XYJMSWC}}
                </td>
                <td>
                    {{hl014.XYJMSWR}}
                </td>
                <td>
                    {{hl014.XYZYSH}}
                </td>
                <td>
                    {{hl014.XYZYTF}}
                </td>
                <td>
                    {{hl014.XYZYQT}}
                </td>
                <td>
                    {{hl014.XYBMSY}}
                </td>
                <td>
                    {{hl014.XYJZJJXY}}
                </td>
            </tr>
        </tbody>
    </table>
    <table ng-show="Report.TableIndex == 8">
        <caption>
            洪涝灾害实时统计表
        </caption>
        <thead>
            <tr>
                <th rowspan="3" nowrap="">
                    地区
                </th>
                <th colspan="2" scope="col">
                    受灾范围
                </th>
                <th rowspan="2" scope="col">
                    农作物受灾面积
                </th>
                <th rowspan="2" scope="col">
                    受灾人口
                </th>
                <th rowspan="2" scope="col">
                    死亡人口
                </th>
                <th rowspan="2" scope="col">
                    失踪人口
                </th>
                <th rowspan="2" scope="col">
                    转移人口
                </th>
                <th rowspan="2" scope="col">
                    倒塌房屋
                </th>
                <th rowspan="2" scope="col">
                    直接经济总损失
                </th>
                <th rowspan="2" scope="col">
                    其中水利设施直接经济损失
                </th>
            </tr>
            <tr>
                <th scope="col">
                    县（市、区）
                </th>
                <th scope="col">
                    乡（镇、街道）
                </th>
            </tr>
            <tr>
                <th scope="col" name="SZFWX">
                    {{BaseData.Field.SZFWX.MeasureName ? BaseData.Field.SZFWX.MeasureName : "（个）"}}
                </th>
                <th scope="col" name="SZFWZ">
                    {{BaseData.Field.SZFWZ.MeasureName ? BaseData.Field.SZFWZ.MeasureName : "（个）"}}
                </th>
                <th scope="col" name="SHMJXJ">
                    {{BaseData.Field.SHMJXJ.MeasureName ? BaseData.Field.SHMJXJ.MeasureName : "（公顷）"}}
                </th>
                <th scope="col" name="SZRK">
                    {{BaseData.Field.SZRK.MeasureName ? BaseData.Field.SZRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="SWRK">
                    {{BaseData.Field.SWRK.MeasureName ? BaseData.Field.SWRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="SZRKR">
                    {{BaseData.Field.SZRKR.MeasureName ? BaseData.Field.SZRKR.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="ZYRK">
                    {{BaseData.Field.ZYRK.MeasureName ? BaseData.Field.ZYRK.MeasureName : "（人）"}}
                </th>
                <th scope="col" name="DTFW">
                    {{BaseData.Field.DTFW.MeasureName ? BaseData.Field.DTFW.MeasureName : "（间）"}}
                </th>
                <th scope="col" name="ZJJJZSS">
                    {{BaseData.Field.ZJJJZSS.MeasureName ? BaseData.Field.ZJJJZSS.MeasureName : "（万元）"}}
                </th>
                <th scope="col" name="SLSSZJJJSS">
                    {{BaseData.Field.SLSSZJJJSS.MeasureName ? BaseData.Field.SLSSZJJJSS.MeasureName
                    : "（万元）"}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hl011 in Report.HL011">
                <th>
                    {{hl011.DW}}
                </th>
                <td>
                    {{hl011.SZFWX}}
                </td>
                <td>
                    {{hl011.SZFWZ}}
                </td>
                <td>
                    {{hl011.SHMJXJ}}
                </td>
                <td>
                    {{hl011.SZRK}}
                </td>
                <td>
                    {{hl011.SWRK}}
                </td>
                <td>
                    {{hl011.SZRKR}}
                </td>
                <td>
                    {{hl011.ZYRK}}
                </td>
                <td>
                    {{hl011.DTFW}}
                </td>
                <td>
                    {{hl011.ZJJJZSS}}
                </td>
                <td>
                    {{hl011.SLSSZJJJSS}}
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="Report.TableIndex == 9">
        <ul class="Affix">
            <li ng-repeat="affix in Report.Affix">
                <img src="../CSS/Img/Public/Close.png" title="删除" />
                <a href="{{'/AffixOperater/DownFiles?name=' + affix.name + '&url=' + affix.url}}">{{affix.name}}
                </a></li>
        </ul>
    </div>
</div>
<ul class="Rpt-Tags">
    <li ng-class="{Selected:Report.TableIndex == 0}" ng-click="Report.TableIndex = 0"
        ng-hide="Report.SSB"><a>表1</a></li>
    <li ng-class="{Selected:Report.TableIndex == 1}" ng-click="Report.TableIndex = 1"
        ng-hide="Report.SSB"><a>表2</a></li>
    <li ng-class="{Selected:Report.TableIndex == 2}" ng-click="Report.TableIndex = 2"
        ng-hide="Report.SSB"><a>表3</a></li>
    <li ng-class="{Selected:Report.TableIndex == 3}" ng-click="Report.TableIndex = 3"
        ng-hide="Report.SSB"><a>表4</a></li>
    <li ng-class="{Selected:Report.TableIndex == 4}" ng-click="Report.TableIndex = 4"><a>
        {{Report.SSB ? "死亡/失踪人员明细" : "表5"}}</a></li>
    <li ng-class="{Selected:Report.TableIndex == 5}" ng-click="Report.TableIndex = 5"
        ng-hide="Report.SSB"><a>表6</a></li>
    <li ng-class="{Selected:Report.TableIndex == 6}" ng-click="Report.TableIndex = 6"
        ng-hide="Report.SSB"><a>表7</a></li>
    <li ng-class="{Selected:Report.TableIndex == 7}" ng-click="Report.TableIndex = 7"
        ng-hide="Report.SSB"><a>表8</a></li>
    <li ng-class="{Selected:Report.TableIndex == 8}" ng-click="Report.TableIndex = 8"><a>
        {{Report.SSB ? "数据" : "表9"}}</a></li>
    <li ng-class="{Selected:Report.TableIndex == 9}" ng-click="Report.TableIndex = 9"><a>
        附件</a></li>
</ul>
