<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <add name="FXPRVEntities" connectionString="metadata=res://*/FXPRV.FXPRV.csdl|res://*/FXPRV.FXPRV.ssdl|res://*/FXPRV.FXPRV.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.14;Initial Catalog=FXPRV;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  
    <add name="FXCTYEntities" connectionString="metadata=res://*/FXCTY.FXCTY.csdl|res://*/FXCTY.FXCTY.ssdl|res://*/FXCTY.FXCTY.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.14;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
    <add name="FXCNTEntities" connectionString="metadata=res://*/FXCNT.FXCNT.csdl|res://*/FXCNT.FXCNT.ssdl|res://*/FXCNT.FXCNT.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.14;Initial Catalog=FXCNT;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
    <add name="FXTWNEntities" connectionString="metadata=res://*/FXTWN.FXTWN.csdl|res://*/FXTWN.FXTWN.ssdl|res://*/FXTWN.FXTWN.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.14;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
    <add name="BusinessEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.14;Initial Catalog=FXPRV;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
    <add name="FXDICTEntities" connectionString="metadata=res://*/FXDICT.csdl|res://*/FXDICT.ssdl|res://*/FXDICT.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.14;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
</configuration>