<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <!--使用内蒙古数据库-->
  <add name="BusinessEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.43.57.165;initial catalog=FXPRV;persist security info=True;user id=fxbb;password=fxbb2012;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>