<!DOCTYPE html>
<html ng-app="Town">
<head>
    <title>Debug-报表操作</title>
    <meta content="webkit" name="renderer"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!--------------------------CSS-------------------------->
    <!--Public-->
    <link rel="stylesheet" href="../../CSS/Public/Float.css"/>
    <link rel="stylesheet" href="../../CSS/Public/Body.css"/>
    <link rel="stylesheet" href="../../CSS/Public/Head.css"/>
    <link rel="stylesheet" href="../../CSS/Public/MenuBar.css"/>
    <link rel="stylesheet" href="../../CSS/Public/LeftTree.css"/>
    <link rel="stylesheet" href="../../CSS/Public/ToolBar.css"/>
    <link rel="stylesheet" href="../../CSS/Public/Button.css"/>
    <link rel="stylesheet" href="../../CSS/Public/Dialog.css"/>
    <link rel="stylesheet" href="../../CSS/Public/OpenLayer.css"/>
    <link rel="stylesheet" href="../../CSS/Public/Head.css"/>
    <!--Page-->
    <link rel="stylesheet" href="../../CSS/Pages/Town/Frame.css"/>
    <link rel="stylesheet" href="../../CSS/Pages/Town/New.css"/>
    <!--Plugin-->
    <link rel="stylesheet" href="../../CSS/Plugins/zTree/zTreeStyle.css"/>
    <link rel="stylesheet" href="../../CSS/Plugins/zTree/TreeItems.css"/>
    <link rel="stylesheet" href="../../CSS/Plugins/Easydialog.css"/>
    <link rel="stylesheet" href="../../CSS/Plugins/Uploadify/uploadify.css"/>
    <link rel="stylesheet" href="../../CSS/Plugins/Tooltipster.css"/>
    <link rel="stylesheet" href="../../CSS/Plugins/JGrowl/JGrowl.min.css"/>
    <!--------------------------JavaScript----------------------->
    <!--Base Library-->
    <script src="../../Scripts/Library/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Angular/angular.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Angular/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Extend/Array.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Extend/String.js" type="text/javascript"></script>
    <!--Plugin-->
    <script src="../../Scripts/Library/Plugins/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/jquery.tooltipster.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/jquery.uploadify.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/jquery.ztree.all-3.5.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/easydialog.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/jquery.jgrowl.min.js" type="text/javascript"></script>
    <!--Angular Application-->
    <script src="../../Scripts/Application/TownApp.js" type="text/javascript"></script>
    <!--Tool-->
    <script src="../../Scripts/Others/Head.js" type="text/javascript"></script>
    <script src="../../Scripts/Others/Tools.js" type="text/javascript"></script>
    <!--Angular MVC-->
    <script src="../../Scripts/Models/TownRptModel.js" type="text/javascript"></script>
    <script src="../../Scripts/Controllers/Town/TownController.js" type="text/javascript"></script>
    <!--Angular Directives-->
    <script src="../../Scripts/Directives/PublicDirective.js" type="text/javascript"></script>
    <script src="../../Scripts/Directives/Town/NewDirective.js" type="text/javascript"></script>
    <!--Document Ready-->
    <script src="../../Scripts/Others/PublicReady.js" type="text/javascript"></script>
    <!--Load InitData Form Server-->
    <script type="text/javascript">
        window.basedata = @Html.Raw(ViewData["InitData"].ToString());
    </script>
</head>
    <body class="DarkGray">
        <div ui-view>
            
        </div>
        <div id="jGrowlMessage" class="jGrowl bottom-right">
            
        </div>
    </body>
</html>