<!DOCTYPE html>
<html>
<head>
    <title>主界面</title>
    <meta content="webkit" name="renderer"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!--------------------------CSS-------------------------->
    <link rel="stylesheet" href="../../CSS/Public/Body.css" />
    <link rel="stylesheet" href="../../CSS/Public/Head.css" />
    <link rel="stylesheet" href="../../CSS/Public/PSW.css" />
    <link rel="stylesheet" href="../../CSS/Public/Button.css" />
    <link rel="stylesheet" href="../../CSS/Public/Dialog.css"/>
    <link rel="stylesheet" href="../../CSS/Pages/Main.css" />
    <!-----------------------------JavaScript-------------------------------->
    <script src="../../Scripts/Library/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../Scripts/Library/Plugins/easydialog.min.js" type="text/javascript"></script>
    <script src="../../Scripts/Application/Main.SH.App.js" type="text/javascript"></script>
</head>
    <body class="Scenery">
        @Html.Partial("~/Views/Partial/_Head.cshtml")
        <div class="Main">
            <div>
                <a id="DisasterReport" href="javascript:void(0);" onclick=" App.Main.Report.Disaster() ">
                    <li style="background-image: url(../../CSS/img/Pages/Main/Menu2.png);"></li>
                </a>
            </div>
            <div>
                <a id="DisasterHistory" href="javascript:location.href=location.href.indexOf('?debug=1')>0?'/sh/historydisaster?debug=1':'/sh/historydisaster'">
                    <li style="background-image: url(../../CSS/img/Pages/Main/Menu2.png);"></li>
                </a>
            </div>
            <div>
                <a id="StatisticAnalysis" href="javascript:window.open('/sh/benefitreport', '', '', '');">
                    <li style="background-image: url(../../CSS/img/Pages/Main/Menu2.png);"></li>
                </a>
            </div>
        </div>
    </body>
</html>
