<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="5130" maxQueryStringLength="2097151" executionTimeout="120"/>
    <!--添加的：解决传输参数超过最大值的问题，最大可上传5M文件，120秒服务器没响应，自动关闭请求-->
    <compilation debug="true"> 
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.WebPages.Razor, Version=1.0.0.0,Culture=neutral,PublicKeyToken=31BF3856AD364E35" /> <!--添加的System.Web.WebPages.Razor -->
      </assemblies>
      <buildProviders>
        <add extension=".cshtml" type="System.Web.WebPages.Razor.RazorBuildProvider, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /><!--添加的extension=".cshtml" -->
      </buildProviders>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--sessionState不能去掉 设置Session的过期时间是20分钟-->
    <sessionState mode="InProc" timeout="20"></sessionState>
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <!--解决请求时URL参数过长的问题-->
        <requestLimits maxQueryString="4080000" />
      </requestFiltering>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
  <connectionStrings>
    <!--四川省-->
    <add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=FXPRV;Persist Security Info=True;User ID=sa;Password=sa;Min Pool Size=10;Max Pool Size=2000;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=FXDICT;Persist Security Info=True;User ID=sa;Password=sa;Min Pool Size=15;Max Pool Size=2500;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=FXCTY;Persist Security Info=True;User ID=sa;Password=sa;Min Pool Size=15;Max Pool Size=2500;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=FXCNT;Persist Security Info=True;User ID=sa;Password=sa;Min Pool Size=20;Max Pool Size=4000;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=FXTWN;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=FXCLD;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--湖北省-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.55;Initial Catalog=FXPRV;Persist Security Info=True;User ID=sa;Password=123;Min Pool Size=10;Max Pool Size=2000;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.55;Initial Catalog=FXDICT;Persist Security Info=True;User ID=sa;Password=123;Min Pool Size=15;Max Pool Size=2500;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.55;Initial Catalog=FXCTY;Persist Security Info=True;User ID=sa;Password=123;Min Pool Size=15;Max Pool Size=2500;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.55;Initial Catalog=FXCNT;Persist Security Info=True;User ID=sa;Password=123;Min Pool Size=20;Max Pool Size=4000;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.55;Initial Catalog=FXTWN;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.55;Initial Catalog=FXCLD;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--福建省-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.49;Initial Catalog=FXPRV;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=10;Max Pool Size=2000;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.49;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=15;Max Pool Size=2500;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.49;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=15;Max Pool Size=2500;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.49;Initial Catalog=FXCNT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=20;Max Pool Size=4000;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.49;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.49;Initial Catalog=FXCLD;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--广东省-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.171;Initial Catalog=FXPRV;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=3;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.171;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=6;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.171;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=10;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.171;Initial Catalog=FXCNT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=17;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.171;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.171;Initial Catalog=FXCLD;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--广西-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.178;Initial Catalog=FXPRV;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=3;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.178;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=6;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.178;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=10;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.178;Initial Catalog=FXCNT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=17;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.178;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.178;Initial Catalog=FXCLD;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--吉林省-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.168;Initial Catalog=FXPRV;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=3;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.168;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=6;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.168;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=10;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.168;Initial Catalog=FXCNT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=17;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.168;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.168;Initial Catalog=FXCLD;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--内蒙古-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.177;Initial Catalog=FXPRV;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=3;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.177;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=6;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.177;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=10;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.177;Initial Catalog=FXCNT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=17;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.177;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.177;Initial Catalog=FXCLD;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--浙江省-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.175;Initial Catalog=FXPRV;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=3;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.175;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=6;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.175;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=10;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.175;Initial Catalog=FXCNT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=17;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.175;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.175;Initial Catalog=FXCLD;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--湖南省（有乡镇）-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.165;Initial Catalog=FXPRV;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=3;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.165;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=6;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.165;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=10;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.165;Initial Catalog=FXCNT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=17;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.165;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=20;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.165;Initial Catalog=FXCLD;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--黑龙江省-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.176;Initial Catalog=FXPRV;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=3;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.176;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=6;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.176;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=10;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.176;Initial Catalog=FXCNT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=17;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.176;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.176;Initial Catalog=FXCLD;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--江西省有乡镇）-->
    <!--<add name="FXPRVEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.163;Initial Catalog=FXPRV;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=3;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXDICTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.163;Initial Catalog=FXDICT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=6;Max Pool Size=100;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCTYEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.163;Initial Catalog=FXCTY;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=10;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCNTEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.163;Initial Catalog=FXCNT;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=17;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXTWNEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.163;Initial Catalog=FXTWN;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;Min Pool Size=20;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;Connect Timeout=20;Load Balance Timeout=100&quot;" providerName="System.Data.EntityClient" />
    <add name="FXCLDEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=210.43.57.163;Initial Catalog=FXCLD;Persist Security Info=True;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <!--备份数据库到据库服务器上的D:\\DB_BackUp 目录下-->
    <add name="DataBackup" connectionString="Data Source=192.168.1.55;Initial Catalog=FXCLD;uid=sa;pwd=123;"/>
    <!--备份目录,如果缺少BackupPath节点，后台默认D:\ZQFWDataBackup -->
    <!--add name="BackupPath" connectionString="D:\ZQFWDataBackup"/-->
     
    <!--国家防总 CS版数据库连接-->
    <add name="CSConn" connectionString="Data Source=192.168.1.32;Initial Catalog=fxbbdb;uid=fxbb;pwd=zizofxbb2010;"/>
    <add name="CSConnXS" connectionString="Data Source=192.168.1.32;Initial Catalog=xsfxbbdb;uid=fxbb;pwd=zizofxbb2010;"/>
    <add name="DbHelperProvider" connectionString="System.Data.SqlClient" />
    
    <add name="BusinessEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.111;Initial Catalog=FXPRV;User ID=fxbb;Password=fxbb2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RptTransSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="wsRptTransSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DeliverSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.78:8089/RptTrans.asmx" binding="basicHttpBinding"
        bindingConfiguration="RptTransSoap" contract="WS_BS_CS_XML.RptTransSoap"
        name="RptTransSoap" />
      <endpoint address="http://www.zizo.com.cn:222/wsRptTrans.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsRptTransSoap"
        contract="WS_XML.wsRptTransSoap" name="wsRptTransSoap" />
      <endpoint address="http://www.zizo.com.cn:809/FxbbSendAffix.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="WS_Affix.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://10.1.31.12:222/Deliver.asmx" binding="basicHttpBinding"
        bindingConfiguration="DeliverSoap" contract="WS_Deliver.DeliverSoap"
        name="DeliverSoap" />
    </client>
  </system.serviceModel>

</configuration>
