<!DOCTYPE html>

<html>
<head>
    <title>效益上报</title>
    <meta content="webkit" name="renderer"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!--------------------------CSS------------------------------>
    <link rel="stylesheet" href="../../../../CSS/Public/ToolBar.css"/>
    <link rel="stylesheet" href="../../../../CSS/Pages/DisasterReview.css"/>
    <link href="../../../../CSS/Pages/Benefit.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        textarea {
            height: 200px;
        }
    </style>
    <!--------------------------JavaScript------------------------------>
    <!--$1$Base Library#1#
    <script src="../../../../Scripts/Library/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/Library/Angular/angular.min.js" type="text/javascript"></script>
    $1$Plugin#1#
    <script src="../../../../Scripts/Library/Plugins/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script src="../../../../Scripts/Library/Extend/Array.js" type="text/javascript"></script>
    <script src="../../../../Scripts/Application/ReportDetails/HL01/15.js" type="text/javascript"></script>
    <script src="../../../../Scripts/Models/DisasterModel.js" type="text/javascript"></script>
    <script src="../../../../Scripts/Directives/PublicDirective.js" type="text/javascript"></script>-->
</head>
<body ng-controller="MainCtrl">
<div class="Frame">
    <div class="Left">

    </div>
    <div class="Right">
        <div>
            <div class="ToolBar">
                <ul>
                    <li class="Save" ng-click="Fn.Export()"><i></i>保存</li>
                    <li class="Export" ng-click="Fn.Export()"><i></i>导出</li>
                    <li class="Print" style="float: right">
                        <i></i>
                        <a style="color: #fff; text-decoration: none;" href="../../../../Document/Helper/15_SH/效益上报模板实例.doc">
                            效益上报模板实例
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Main">
                <div class="Title">
                    <p class="Center">
                        标题：
                        <!--<span>{{Report.UnitName}}</span>-->
                        <!--<span>{{Report.ZQJZRQ}}</span>-->
                        <input type="text" placeholder="地区"/>
                        <input type="text" placeholder="时间"/>
                        特大洪灾跟踪报告
                    </p>
                </div>
                <div><!--地区简介-->
                    <p class="Head">一、地区简介</p>
                    <p>
                        <textarea></textarea>
                    </p>
                </div>
                <div><!--灾情简介-->
                    <p class="Head">二、灾情简介</p>
                    <p class="Head">1.雨情</p>
                    <p><textarea></textarea>
                    </p>
                    <p class="Head">2.水情</p>
                    <p><textarea></textarea>
                    </p>
                    <p class="Head">3.灾情</p>
                    <p><textarea></textarea>
                    </p>
                </div>
                <div><!--预警情况-->
                    <p class="Head">三、预警情况</p>
                    <p class="Head">1.监测情况</p>
                    <p><textarea></textarea>
                    </p>
                    <p class="Head">2.雨前预警</p>
                    <p><textarea></textarea>
                    </p>
                    <p class="Head">3.雨中预警</p>
                    <p><textarea></textarea>
                    </p>
                </div>
                <div>
                    <p class="Head">四、应急响应</p>
                    <p><textarea></textarea>
                    </p>
                </div>
                <div>
                    <p class="Head">五、响应细节</p>
                    <p><textarea></textarea>
                    </p>
                </div>
                <div>
                    <p class="Head">六、灾后总结</p>
                    <p><textarea></textarea>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>