<div class="LeftTree" name="View">
    <div class="Left">
        <div>
            <p>
                <label>报表类型：</label>
                <select ng-model="View.Report.Selected.ORD_Code" ng-options="op.Value as op.Name for op in BaseData.Select.RptClass" ng-change="View.Report.Tree.Fn.Switch(false, true).Refresh.Report()" style="width: 129px;">
                </select>
            </p>
            <p>
                <label>时段类型：</label>
                <select ng-model="View.Report.Selected.StatisticalCycType" ng-options="op.Code as op.Name for op in BaseData.Select.CycType" style="width: 129px;">
                </select>
            </p>
        </div>
        <div class="Tabs">
            <ul>
                <li class="Inbox" ng-class="{Selected: View.Report.Tree.Current.Tab == 'MyRptTree'}" ng-click="View.Report.Tree.Fn.Switch('MyRptTree')">
                    <span><i></i>我的表箱</span>
                </li>
                <!--<li ng-if="BaseData.Unit.Local.Limit != 4" class="Cased" ng-class="{Selected: View.Report.Tree.Current.Tab == 'ReceivedRptTree'}"  ng-click="View.Report.Tree.Fn.Switch('ReceivedRptTree')">
                    <span><i></i>已收表箱</span>
                </li>-->
            </ul>
        </div>
        <div class="TreeBoxes" ng-class="{ShowAggAcc: View.Report.Current.ReportTitle.SourceType > 0}">
            <div ng-switch on="View.Report.Tree.Current.Tab">
                <div ng-switch-when="MyRptTree">
                    <ul ng-tree id="MyRptTree" class="ztree">
                    </ul>
                </div>
                <!--<div ng-switch-when="ReceivedRptTree">
                    <div class="UnitName">
                        <label>单位名称：</label>
                        <select ng-model="View.Report.Selected.UnitCode">
                            <option value="{{BaseData.Unit.Local.UnitCode}}" ng-selected="View.Report.Selected.UnitCode == BaseData.Unit.Local.UnitCode">所有单位</option>
                            <option ng-repeat="obj in BaseData.Unit.Unders" value="{{obj.UnitCode}}" ng-selected="View.Report.Selected.UnitCode == obj.UnitCode">{{obj.UnitName}}</option>
                        </select>
                    </div>
                    <ul ng-tree id="ReceivedRptTree" class="ztree">
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="AggAccBox" ng-show="View.Report.Current.ReportTitle.SourceType > 0">
            <div class="AggAcc-Menu">
                <ul>
                </ul>
            </div>
            <div class="AggAcc-Content">
                <ul>
                    <li ng-repeat="rpt in View.Report.Current.Attr.AggAcc.Content" ng-class="{Selected:rpt.id == View.Report.Attr.AggAcc.Selected.id}" ng-click="View.Report.Attr.AggAcc.Selected = rpt" ng-dblclick="View.Fn.Core.AggAcc.View(rpt)">
                        <a ng-if="Open.Report.Current.ReportTitle.SourceType == '1'">
                            {{BaseData.Unit.Unders.Find("UnitCode",rpt.UnitCode,"UnitName")}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Right" pos-top="56" ng-if="View.Report.Current">
        <div class="ToolBar">
            <ul>
                <!--<li class="Export">
                    <a href="{{'ReportOperate/ExportExcel?pageno=' + View.Report.Current.ReportTitle.PageNO + '&rpttype=' + View.Report.Current.ReportTitle.ORD_Code +
                                 '&sTime=' + View.Report.Current.ReportTitle.StartDateTime + '&eTime=' + View.Report.Current.ReportTitle.EndDateTime}}">
                        <i></i>导出
                    </a>
                </li>-->
                <li class="Print" ng-click="View.Fn.Core.Print()"><i></i>打印</li>
                <li class="Maximize" title="最大化" ng-show="View.Report.Screen.State == 'inhreit'" ng-click="View.Report.Screen.Fn.Maximize('.Right',View.Report.Screen)">
                    <i></i>
                </li>
                <li class="Restore" title="还原" ng-show="View.Report.Screen.State == 'full'" ng-click="View.Report.Screen.Fn.Restore('.Right',View.Report.Screen)">
                    <i></i>
                </li>
            </ul>
        </div>
        <div id="Report">
            <ul id="ReportTabs">
                <li ng-repeat="rpt in View.Report.Opened" title="{{rpt.ReportTitle.PageNO}}" ng-class="{Selected:rpt.ReportTitle.PageNO == View.Report.Current.ReportTitle.PageNO}" ng-click="View.Report.Current = rpt">
                    <span class="title">
                        <span name="icon" ng-class="'cycType' + rpt.ReportTitle.StatisticalCycType"></span>
                        <span>
                            [山洪]{{rpt.ReportTitle.StartDateTime}}至{{rpt.ReportTitle.EndDateTime}}
                            <a class="TabClose" title="关闭" href="javascript:void(0)" ng-click="View.Fn.Core.Close.Report(rpt.ReportTitle.PageNO)">x</a>
                        </span>
                    </span>
                </li>
            </ul>
            <div ng-include="'/SH/GetTemplate?isCurYear=0&rptType=' + View.Report.Current.ReportTitle.ORD_Code + '&tableType=_View'">
                
            </div>
        </div>
        <div id="Report-Footer">
            <div class="Tabs">
                <ul>
                    <li class="ReportTitle Selected"><span><i></i>表头尾信息</span></li>
                </ul>
            </div>
            <div class="Boxes">
                <div class="ReportTitle">
                    <div style="min-width: 250px; padding-left: 10px; padding-top: 10px;">
                        <p class="CycType">
                            <label>
                                时段类型：{{BaseData.Select.CycType[View.Report.Current.ReportTitle.ORD_Code].Find("value",View.Report.Current.ReportTitle.StatisticalCycType,"name")}}
                            </label>
                        </p>
                        <p>
                            <label>起止日期：{{View.Report.Current.ReportTitle.StartDateTime}}&nbsp;至&nbsp;{{View.Report.Current.ReportTitle.EndDateTime}}</label>
                        </p>
                        <p>
                            <label>填报日期：{{View.Report.Current.ReportTitle.WriterTime}}</label>
                        </p>
                    </div>
                    <div style="min-width: 400px; padding-left: 10px; padding-top: 10px;">
                        <p>
                            <label>&nbsp; 填报单位：{{View.Report.Current.ReportTitle.UnitName}}</label>
                        </p>
                        <p>
                            <label>单位负责人：{{View.Report.Current.ReportTitle.UnitPrincipal}}</label>
                            <label style="position: relative; left: 90px; ">统计负责人：{{View.Report.Current.ReportTitle.StatisticsPrincipal}}</label>
                        </p>
                        <p>
                            <label>&nbsp; &nbsp; 填报人：{{View.Report.Current.ReportTitle.WriterName}}</label>
                            <!--<label>&nbsp; &nbsp; 校核人：</label> $1$数据库里没有与“校核人”对应的字段，因此暂时不指定模型#1#
                                <input class="CheckPerson" type="text" />-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

